.search__clear {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 18px;
  background-image: url("../../../assets/svg/xmark.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  opacity: 0.5;
  transition: 0.3s;
}

.search__clear:hover {
  opacity: 1;
}

.search__clear:focus,
.search__clear:focus-visible {
  outline: none;
}

.search__submit {
  position: absolute;
  width: 17px;
  height: 15px;
  top: 5px;
  right: 3px;
  background-image: url("../../../assets/svg/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  opacity: 0.5;
  transition: 0.3s;
}

.search__submit:hover {
  opacity: 1;
}

.search__submit:focus,
.search__submit:focus-visible {
  outline: none;
}
