.search {
  position: relative;
  width: 200px;
  margin: 0 auto;
  padding-right: 45px;
  border: 2px solid black;
  border-radius: 4px;
}

.search__text {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 4px;
}
