.home-card {
  position: relative;
  outline: 1px solid black;
  border-radius: 5px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.home-card:hover {
  outline: 5px solid #0075ff;
}

.home-card_hidden {
  display: none;
}

.home-card__name {
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home-card__img {
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-card h3,
.home-card p {
  margin: 0;
}
